# Core
Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0

# Banco de Dados
SQLAlchemy==2.0.38
psycopg2-binary==2.9.11

# Processamento de Dados (Estáveis)
numpy==1.26.4
pandas==2.2.3
openpyxl==3.1.5

# Scanner e Imagem (Headless para Servidor)
opencv-python-headless==4.10.0.84
pyzbar==0.1.9
Pillow==10.4.0

# Produção
gunicorn==23.0.0

python-dotenv==1.2.1

alembic==1.13.2

