html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container, .container-fluid {
  max-width: none !important;
  padding-left: 12px;
  padding-right: 12px;
}

.card {
  border-radius: 16px;
}